body {
    background-color: #42adf5;
    height: 100vh;
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-top: -20;

}

input[type='checkbox'] {
    margin: 0 1em;
}

.header h1 {
    margin: 0 auto;
}

.header-text {
    font-size: 0.8em;
}

.todo-item {
    margin: 1em auto;
    background: rgb(36, 36, 43);
    width: 60vw;
    text-align: left;
    padding: 1em;
    box-shadow: 0 8px 6px -6px black;

}

input[type="checkbox"] {
    width: 0.65em;
    height: 0.65em;
    cursor: pointer;

}

.task-state {
    float: right;
}

.form {
    margin: 0 auto;
    width: 25em;
    height: 1.93em;
    box-shadow: 0 8px 6px -6px black;

}

input[type=text] {
    width: 19.4em;
    height: 1.33em;
    float: left;
    border: none;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0.3em solid rgb(42, 42, 48);
    background: rgb(75, 80, 87);
    color: white;
}

input:focus {
    outline: none;
    outline-offset: 0;
}

button {
    width: 5em;
    padding: 0;
    margin: 0;
    height: 1.93em;
    float: right;
    border: none;
    color: white;
    background: rgb(42, 42, 48);
}

button:focus{
    outline: none;
    outline-offset: 0;
}

button:hover {
    background: rgb(50, 50, 56);
}




.delete {
    color: white;
    width: 0.8em;
    height: 0.8em;
    float: right;
    padding-bottom: 0.3em;
    padding-left: 0.2em;

    background: rgb(255, 55, 55);
    border: 2px solid rgb(196, 29, 29);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}